@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_admin";

}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Appoint Director</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Admin</a>
                    </li>
                     <li class="breadcrumb-item "> Program</li>
                    <li class="breadcrumb-item active"> Update Director</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
               <div class="card">
                         <div class="card-body">
                         <div class="card-title">Update Director Form</div>
                         <hr>
                          <form>
                              <div class="form-group">
                                  <label for="input-1">Name of Program</label>
                                  <input type="text" class="form-control" id="input-1" placeholder="Enter Name" name="program" required list="faculty">
                                  <datalist id="faculty">
                                      <option > boston </option>
                                      <option > Cambridge</option>
                                  </datalist>
                              </div>
                              <div class="form-group">
                                  <label for="input-2">Name of Teacher</label>
                                  <input type="text" class="form-control" id="input-2" placeholder="Enter Name" name="teacher" required list="teacher">
                                  <datalist id="teacher">
                                      <option value="Boston"/>
                                      <option value="Cambridge"/>
                                  </datalist>
                              </div>
                              
                        
                              <div class="form-group">
                          <button type="submit" class="btn btn-light px-5"> Update</button>
                        </div>
                        </form>
                       </div>
                       </div>
                    </div>

                <!-- /.card -->


                <!-- /.card-header -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
   

    <!-- /.container-fluid -->
</section>