@model mis_mmc.Models.ProgramModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_admin";

}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Update Program</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Admin</a>
                    </li>
                     <li class="breadcrumb-item "> Program</li>
                    <li class="breadcrumb-item active"> Update Program</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
               <div class="card">
                         <div class="card-body">
                         <div class="card-title">Update Program Form</div>
                         <hr>
                         <form asp-action="UpdateProgram" enctype="multipart/form-data">
                             <input type="hidden" asp-for="s_no" />
                             <div class="form-group">
                                 <label for="input-1">Type</label>
                                 <select class="form-control" id="input-1" placeholder="Enter type" name="type" required list="faculty" >
                                     <datalist id="faculty">
                                         <option > Bachelor </option>
                                         <option > Master</option>
                                     </datalist>
                                 </select>
                             </div>

                             <div class="form-group">
                                 <label asp-for="fid" class="control-label">Faculty</label>
                                 <select asp-for="fid" class ="form-control" asp-items="ViewBag.Faculty"></select>
                             </div>
                             

                             <div class="form-group">
                                 <label for="input-3">Program Name</label>
                                 <input type="text" class="form-control" id="input-3" placeholder="Enter Name" name="name" required value="@ViewBag.data.name">
                             </div>
                             <div class="form-group">
                                 <label for="input-4">Description</label>
                                 <input type="text" class="form-control" id="input-4" placeholder="Enter Description" name="description" required value="@ViewBag.data.description">
                             </div>
                             <div class="form-group">
                                 <label for="input-5">File(syllabus)</label>
                                 <input type="file" class="form-control" id="input-5" name="file">
                             </div>
                             <div class="form-group">
                                 <div class="form-group">
                                     <label for="input-6">System</label>
                                     <select class="form-control" id="input-6" placeholder="Enter type" name="system" required list="system">
                                         <datalist id="system">
                                             <option > Yearly </option>
                                             <option > Semester</option>
                                         </datalist>
                                     </select>
                                 </div>
                                 <div class="form-group">
                                     <label for="input-7">Number of year/sem</label>
                                     <input type="number" class="form-control" id="input-7" placeholder="Enter number of year/sem" name="sem_year" required value="@ViewBag.data.sem_year">
                                 </div>
                                 <button type="submit" class="btn btn-light px-5"> Update</button>
                             </div>
                         </form>
                       </div>
                       </div>
                    </div>

                <!-- /.card -->


                <!-- /.card-header -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
   

    <!-- /.container-fluid -->
</section>