@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_admin";

}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Issue Book</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Admin</a>
                    </li>
                     <li class="breadcrumb-item "> Library</li>
                    <li class="breadcrumb-item active"> Issue Book</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
               <div class="card">
                         <div class="card-body">
                         <div class="card-title">Book Issue Form</div>
                         <hr>
                          <form method="post" >
                              <div class="form-group">
                                  <label for="input-1">Input student email</label>
                                  <input type="text" class="form-control" id="input-1" placeholder="Enter Name" name="student" required list="student">
                                  <datalist id="student">
                                      @foreach (var item in ViewBag.data){
                                          <option value="@item.email"/>  
                                          
                                            
                                          }
                                  </datalist>
                              </div>
                              <div class="form-group">
                                  <label for="input-2"> Name of Book</label>
                                  <input type="text" class="form-control" id="input-2" placeholder="Enter Name" name="book" required list="program">
                                  <datalist id="program">
                                      @foreach (var item in ViewBag.book){
                                                                               <option value="@item.name"/>  
                                                                               
                                                                                 
                                                                               }
                                  </datalist>
                              </div>
                              
                              <div class="form-group">
                                  <label for="input-2">Expiry date</label>
                                  <input type="date" class="form-control" id="input-2" placeholder="Enter Name" name="expiry_date" required>
                                                                
                              </div>
                              <div class="form-group">
                                  <label for="input-3">Input Unique Book Id</label>
                                  <input type="text" class="form-control" id="input-2" placeholder="Enter Name" name="uid" required>
                                                                                              
                              </div>
                              
                              
                        
                              <div class="form-group">
                          <button type="submit" class="btn btn-light px-5"> Issue</button>
                        </div>
                        </form>
                       </div>
                       </div>
                    </div>

                <!-- /.card -->


                <!-- /.card-header -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
   

    <!-- /.container-fluid -->
</section>