@model mis_mmc.Models.CourseModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_admin";

}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add Course</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Admin</a>
                    </li>
                     <li class="breadcrumb-item "> Course</li>
                    <li class="breadcrumb-item active"> Update Course</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
               <div class="card">
                         <div class="card-body">
                         <div class="card-title">Update Course Form</div>
                         <hr>
                         <form asp-action="UpdateCourse" enctype="multipart/form-data">
                             <input type="hidden" asp-for="s_no" />
                             <div class="form-group">
                                 <label asp-for="pid" class="control-label">Program</label>
                                 <select asp-for="pid" class ="form-control" asp-items="ViewBag.Program"></select>
                             </div>
                             
                             <div class="form-group">
                                 <label for="input-2">Semester/year</label>
                                 <input type="number" class="form-control" id="input-2" placeholder="Enter semester/year" name="sem_year" required list="teacher" value="@ViewBag.data.sem_year">
                                 <datalist id="teacher">
                                     <option value="Boston"/>
                                     <option value="Cambridge"/>
                                 </datalist>
                             </div>

                             <div class="form-group">
                                 <label for="input-3">Course Name</label>
                                 <input type="text" class="form-control" id="input-3" placeholder="Enter Name" name="name" required value="@ViewBag.data.name">
                             </div>
                             <div class="form-group">
                                 <label for="input-4">Description</label>
                                 <input type="text" class="form-control" id="input-4" placeholder="Enter Description" name="description" required value="@ViewBag.data.description">
                             </div>
                             <div class="form-group">
                                 <label for="input-5">File(syllabus)</label>
                                 <input type="file" class="form-control" id="input-5" name="file">
                             </div>
                             <div class="form-group">
                                 <button type="submit" class="btn btn-light px-5"> Update</button>
                             </div>
                         </form>
                       </div>
                       </div>
                    </div>

                <!-- /.card -->


                <!-- /.card-header -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
   

    <!-- /.container-fluid -->
</section>