@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model mis_mmc.Models.FacultyModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_admin";

}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Update faculty</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Admin</a>
                    </li>
                     <li class="breadcrumb-item "> Faculty</li>
                    <li class="breadcrumb-item active"> Update Faculty</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
               <div class="card">
                         <div class="card-body">
                         <div class="card-title">Faculty Form</div>
                         <hr>
                         <form asp-action="UpdateFaculty" enctype="multipart/form-data" >
                             <input type="hidden" asp-for="s_no" />
                             <div class="form-group">
                                 <label for="input-1" asp-for="name">Name</label>
                                 <input type="text" class="form-control" id="input-1" placeholder="Enter Name" name="name" required value="@ViewBag.data.name">
                             </div>
                             <div class="form-group">
                                 <label for="input-2">Description</label>
                                 <input type="text" class="form-control" id="input-2" placeholder="Enter Description"name="description" required value="@ViewBag.data.description">
                             </div>
                             <div class="form-group">
                                 <label for="input-3">File</label>
                                 <input type="file" class="form-control" id="input-3" name="file">
                             </div>
                             <div class="form-group">
                                 <button type="submit" class="btn btn-light px-5"> Update</button>
                             </div>
                         </form>
                       </div>
                       </div>
                    </div>

                <!-- /.card -->


                <!-- /.card-header -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
   

    <!-- /.container-fluid -->
</section>