@model mis_mmc.Models.CollegeDetails

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h1>Create</h1>

<h4>CollegeDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="college_name" class="control-label"></label>
                <input asp-for="college_name" class="form-control" />
                <span asp-validation-for="college_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone_number_one" class="control-label"></label>
                <input asp-for="phone_number_one" class="form-control" />
                <span asp-validation-for="phone_number_one" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="logo" class="control-label"></label>
                <input asp-for="logo" class="form-control" />
                <span asp-validation-for="logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

